.container {
    max-width: 800px;
    margin: 0 auto;
}

.chart-container {
    margin-top: 20px;
    max-width: 100%; /* Maximale Breite des Containers setzen */
}

.chart-container canvas {
    max-width: 100%; /* Maximale Breite des Canvas auf 100% des Containers setzen */
    height: auto; /* Automatische Höhe, um das Seitenverhältnis beizubehalten */
}

.form-container {
    margin-top: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.list-container {
    margin-top: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

button {
    color: white;
    background-color: #4CAF50;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
